.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: var(--secondary);
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.button {
  color: var(--white) !important;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--gray);
  cursor: no-drop;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }
}

button:focus {
  outline: 0;
}

.formRegister .formContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.formRegister .has-error input {
  border: 2px solid var(--red);
}

.formRegister .panel-errors p {
  margin: 0;
}

.formRegister .panel-errors p::before {
  content: "❌";
}
.formRegister .formBtns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
